<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommendations</title>
</head>
<body>
    <h1>Music Recommendations</h1>

    {% for song_info in songs %}
        <div>
            <img src="{{ song_info['photo'] }}" alt="Album Cover">
            <p><strong>Artist:</strong> {{ song_info['name'] }}</p>
            <p><strong>Song Name:</strong> {{ song_info['song_name'] }}</p>
            <p><strong>Release Date:</strong> {{ song_info['date'] }}</p>
            <p><strong>link:</strong> {{ song_info['song_link'] }}</p>
        </div>
        <hr>
    {% endfor %}
</body>
</html>




