.page-transition-enter {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 300ms, filter 300ms;
  }
  
  .page-transition-enter-active {
    opacity: 1;
    filter: blur(0);
  }
  
  .page-transition-exit {
    opacity: 1;
    filter: blur(0);
    transition: opacity 300ms, filter 300ms;
  }
  
  .page-transition-exit-active {
    opacity: 0;
    filter: blur(10px);
  }