/* roundbutton.css */

/* Keyframes for animations */
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes beatWithColorPulse {
  0%, 100% {
    transform: translateY(0);
    background-color: #cfbc4e;
  }
  50% {
    transform: translateY(-10px);
    background-color: #d8cc5b;
  }
}

@keyframes beatWithBoxShadow {
  0%, 100% {
    transform: translateY(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}

@keyframes dance {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Styles for the round button */
.round-button {
  position: relative;
  width: 150px;
  height: 110px;
  border-radius: 50%;
  margin: 10px;
  background-color: #cfbc4e;
  color: #fff;
  border: 2px solid #007bff;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease-in-out, width 0.3s, height 0.3s;
  animation: beatWithColorPulse 1s infinite, beatWithBoxShadow 1s infinite;

}

.round-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #cfbc4e;
  animation: pulse 2s infinite;
  transform-origin: center;
  top: 0;
  left: 0;
  pointer-events: none;
}

.round-button:hover {
  transform: scale(1.1);
  animation: none;
}

.round-button.active {
  transform: scale(1.5);
}

.round-button:focus,
.round-button:active {
  color: #000;
  background-color: #fff;
}

/* Styles for popups */
.popup {
  background-color: rgba(188, 49, 216, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  background-color: #8fece5;
  color: #4f51b8;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.big-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 850px;
  height: 520px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.big-popup.show {
  opacity: 1;
  visibility: visible;
}

/* Additional Styles for Popup Content */

.popup-content {
  color: #333;
}

.popup-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.popup-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.popup-buttons button:hover {
  background-color: #007bff;
  color: #fff;
}

/* Custom Animation for Popup Entrance */
@keyframes slideIn {
  0% {
    transform: translate(-50%, -50%) translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

/* Apply the slideIn animation to the big-popup.show class */
.big-popup.show {
  opacity: 1;
  visibility: visible;
  animation: slideIn 0.5s ease-out; /* Adjust the animation duration and easing as needed */
}
